@import "./src/styles/partials/globals.scss";
@import "./src/styles/partials/placeholders.scss";

:host {
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    grid-row-gap: 94px;
    grid-column-gap: 15px;
    justify-content: center;

    .movie {
        display: flex;
        flex-direction: column;

        .img {
            height: 385px;
            @extend %img-spread;
        }

        .title {
            margin-top: 2rem;
            font-size: 3rem;
            font-family: $font-family-2;
            line-height: 3.1rem;
            margin-bottom: auto;
        }

        .rating {
            @extend %rating;
            margin-top: 2rem;
        }

        .read-more {
            height: 4.2rem;
            margin-top: 1.9rem;
            font-size: 1.8rem;
            font-family: $font-family-1;
            display: flex;
            align-items: center;

            i {
                margin-left: auto;
            }
        }
    }
}
