/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
/*@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";*/

/* You can add global styles to this file, and also import other style files */
@import "./styles/partials/_globals.scss";
@import "./styles/partials/_colors.scss";
@import "./styles/partials/_icons.scss";
 @import "./styles/partials/_animations.scss";
 @import "./styles/partials/_utils.scss";
 @import "./styles/partials/_overrides.scss";

html,
body {
    height: 100%;
    margin: 0;
    font-size: 62.5%; /*Body font-size = (62.5/100)*16 = 10px; [16 as default font size in most browsers]*/
    font-family: $font-family-1;
    color: $text-color;
    overflow-x: hidden;

    a {
        color: inherit;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0
    }
}

router-outlet + * > div:first-child {
    padding: 0 $app-padding;
}

/** NEXT APP STYLES **/

.nxt-btn {
    appearance: none;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;

    &.outline {
        border: 1px solid $color-black;
        background-color: transparent;
        border-radius: 100px;
        padding: 0 1.9rem;
    }
}

.row-ellipsis {
    @include row-ellipsis();
}

.ellipsis {
    @include ellipsis();
}

.no-results {
    font-size: 3rem;
    display: grid;
    place-content: center;
    margin-top: 7.5rem;
    @include animation-fade();
}
