/* You can add global styles to this file, and also import other style files */
@import "styles/partials/globals.scss";
@import "styles/partials/colors.scss";
@import "styles/partials/icons.scss";
 @import "styles/partials/animations.scss";
 @import "styles/partials/utils.scss";

html,
body {
    height: 100%;
    margin: 0;
    font-size: 62.5%; //Body font-size = (62.5/100)*16 = 10px; [16 as deault font size in most browsers]

    font-family: $font-family-1;
    color: $color-black;

    overflow-x: hidden;

    a {
        color: inherit;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0
    }
}

router-outlet + * > div:first-child {
    padding: 0 $app-padding;
}

/** NEXT APP STYLES **/

.nxt-btn {
    appearance: none;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    transition: $anim-transition;

    &.outline {
        border: 1px solid $color-black;
        background-color: transparent;
        border-radius: 100px;
        padding: 0 1.9rem;
    }

    &:hover {
        @include animation-pop();
    }
}

.row-ellipsis {
    @include row-ellipsis();
}
