@import "../styles/partials/globals.scss";
@import "../styles/partials/colors.scss";


:host {
    display: grid;
    grid-template-areas: 'header'
                        'content'
                        'footer';
    grid-template-rows: $header-height 1fr $footer-height;
}

/* HEADER */
header {
    grid-area: header;
    background-color: $white;
    padding: 0 $app-padding;
    display: flex;
    align-items: center;

    .logo img {
        width: 260px;
        height: 81px;
    }
}

/* CONTENT */
.content {
    grid-area: content;
    background-color: green;
    padding: 0 $app-padding;
    height: 100%;
}

/* FOOTER */
footer {
    grid-area: footer;
}
