<!-- HEADER -->
<header>
    <div class="logo">
        <img alt="Next Logo" src="./assets/img/Logo2.png"/>
    </div>
</header>

<!-- CONTENT -->
<div class="content">
    <router-outlet></router-outlet>
</div>


<!-- Footer -->
<footer>
    <img class="logo" alt="Next Logo" src="./assets/icons/favicon.svg"/>

    <h3 class="contact-us">Contact us</h3>

    <div class="info">
        <a class="email" href="mailto:support@nextmovies.com">support@nextmovies.com</a>
        <div class="hours">Mon – Fri | 6:00am – 5:00 pm PT</div>
    </div>

    <div class="social">
        <button>
            <i></i>
        </button>

        <div class="facebook">FB</div>
        <div class="linkedIn">LNK</div>
        <div class="twitter">TWT</div>
        <div class="instagram">IG</div>
        <div class="youtube">YT</div>
    </div>
</footer>
