// @import "./src/app/styles/partials/_colors.scss";
@import "./src/app/styles/partials/colors";
// @import "./src/app/styles/partials/colors.scss";
// @import "/src/app/styles/partials/_colors.scss";
// @import "styles/partials/_colors.scss";
// @import "/styles/partials/_colors.scss";


:host {
    display: block;
    height: 100%;
}

header {
    // background-color: #123132;
    background-color: $light-blue;
    // background-color: $dark-gray;
}

.content {
    min-height: 17.08rem;
}
