<!-- HEADER -->
<header>
    <!-- LOGO -->
    <div class="logo">
        <a href="/">
            <img alt="Next Logo" src="./assets/img/Logo2.png"/>
        </a>
    </div>

    <!-- SEARCH -->
    <div class="search-wrapper">
        <i class="nxt-icon search"></i>
        <input #search type="text" class="form-control" placeholder="Search for a title or year released"
               (keyup)="updateSearch(search.value)">
    </div>
</header>

<!-- CONTENT -->
<main class="content">
    <router-outlet></router-outlet>
</main>


<!-- Footer -->
<footer>
    <img class="logo" alt="Next Logo" src="./assets/icons/favicon.svg"/>

    <h3 class="contact-us">Contact us</h3>

    <div class="info">
        <a class="email" href="mailto:support@nextmovies.com">support@nextmovies.com</a>
        <div class="hours">Mon – Fri | 6:00am – 5:00 pm PT</div>
    </div>

    <div class="social">
        <button class="nxt-btn">
            <i class="nxt-icon fb"></i>
        </button>

        <button class="nxt-btn">
            <i class="nxt-icon lnkd"></i>
        </button>

        <button class="nxt-btn">
            <i class="nxt-icon twt"></i>
        </button>

        <button class="nxt-btn">
            <i class="nxt-icon ig"></i>
        </button>

        <button class="nxt-btn">
            <i class="nxt-icon yt"></i>
        </button>
    </div>
</footer>
