// APP
$app-padding: 14.2rem;

// HEADER
$header-height: 12.3rem;

// FOOTER
$footer-height: 30rem;

// FONTS
$font-family-1: 'Arial';
$font-family-2: 'Georgia';

// ANIMATION
$anim-transition: .4s ease-in-out;
