@import "colors";


// APP
$app-padding: 13.4rem;
$app-header-height: 12.3rem;

// MOBILE
$app-mobile-padding: 4rem;
$app-mobile-bp: 375px;
$app-mobile-header-height: 7.8rem;

// FONTS
$font-default-size: 1.6rem;
$font-family-1: 'Arial';
$font-family-2: 'Georgia';

// TEXT
$text-color: $color-black;

// ANIMATION
$anim-transition: .4s ease-in-out;
