.nxt-icon {
    display: inline-block;
    cursor: pointer;

    /* SOCIAL */
    &.fb {
        width: 11px;
        height: 19px;
        background-image: url('../../assets/icons/social/fb.svg');
    }

    &.lnkd {
        width: 16px;
        height: 16px;
        background-image: url('../../assets/icons/social/lnkd.svg');
    }

    &.twt {
        width: 20px;
        height: 16px;
        background-image: url('../../assets/icons/social/twt.svg');
    }

    &.ig {
        width: 19px;
        height: 19px;
        background-image: url('../../assets/icons/social/ig.svg');
    }

    &.yt {
        width: 21px;
        height: 15px;
        background-image: url('../../assets/icons/social/yt.svg');
    }

    /* RATING */
    &.star {
        width: 35px;
        height: 33px;
        background-image: url('../../assets/icons/star.svg');
    }

    /* ARROW */
    &.arrow {
        width: 25px;
        height: 14px;
        background-image: url('../../assets/icons/arrow.svg');

        &.left {
            transform: rotateZ(180deg);
        }
    }

    /* SEARCH */
    &.search {
        width: 28px;
        height: 28px;
        background-image: url('../../assets/icons/search.svg');
    }
}
