.modal-dialog {
    height: fill-available;
}

.modal-content {
    width: 136rem;
    height: 69rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: unset;
        margin: 0;
    }
}
