@import "./src/styles/partials/globals.scss";
@import "./src/styles/partials/utils.scss";

.modal-dialog {
    height: stretch;
}

.modal-content {
    width: 136rem;
    height: 69rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include breakpoint() {
        width: 29.4rem;
    }
}

.form-control {
    font-size: $font-default-size;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: unset;
        margin: 0;
    }
}
