<div class="home">
    <h1 class="title">
        Explore your next <br>
        Movies and tv shows
    </h1>

    <div class="movies-list" *ngIf="movies.length; else noResults">
        <app-movie [movies]="movies"></app-movie>
    </div>

    <ng-template #noResults>
        <div class="no-results" [hidden]="(movieService.movies$ | async)?.length">
            <span>
                Sorry, we couldn't find any movies matching your search. <br>
                Please try searching for something else..
            </span>
        </div>
    </ng-template>
</div>
