<div class="home">
    <h1 class="title">
        Explore your next <br>
        Movies and tv shows
    </h1>

    <div class="movies-list">

        <div *ngFor="let m of movies" class="movie">
            <div class="img">
                <img src="{{m.image}}" alt="{{m.title}}">
            </div>
            <div class="title row-ellipsis">{{m.title}} ({{m.released}})</div>
            <div class="rating">
                <i class="nxt-icon star"></i>
                <div class="score">{{m.rating}}</div>
            </div>
            <button class="nxt-btn outline read-more">
                <span>read more</span>
                <i class="nxt-icon arrow"></i>
            </button>
        </div>

        <!-- <div class="movie"></div>
        <div class="movie"></div>
        <div class="movie"></div>
        <div class="movie"></div>
        <div class="movie"></div>
        <div class="movie"></div>
        <div class="movie"></div>

        <div class="movie">
        <div class="img">
        <img src="./assets/img/movie-posters/The shawshank redemption.png" alt="The shawshank redemption">
    </div>
    <div class="title">The shawshank redemption (1994)</div>
    <div class="rating">
    <i class="nxt-icon star"></i>
    <div class="score">9.3</div>
</div>
<button class="nxt-btn outline read-more">
<span>read more</span>
<i class="nxt-icon arrow"></i>
</button>
</div>
<div class="movie"></div>
<div class="movie"></div>
<div class="movie"></div> -->
</div>
</div>
