@import "./src/styles/partials/globals.scss";
@import "./src/styles/partials/utils.scss";

.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $color-light-blue;

    > .title {
        font-size: 8rem;
        font-family: $font-family-1;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        padding-top: 11.4rem;
        line-height: 6.6rem;
    }

    .movies-list {
        width: 100%;
        height: 100%;
        padding: 9.5rem 0;
    }
}
