@import "./src/styles/partials/globals.scss";
@import "./src/styles/partials/utils.scss";

.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $color-light-blue;

    > .title {
        font-size: 8rem;
        font-family: $font-family-1;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        padding-top: 11.4rem;
        line-height: 6.6rem;

        @include breakpoint() {
            font-size: 2.7rem;
            line-height: 2.5rem;
        }
    }

    .movies-list {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 260px);
        grid-row-gap: 94px;
        grid-column-gap: 15px;
        justify-content: center;
        padding: 9.5rem 0;

        @include breakpoint() {
            grid-template-columns: repeat(auto-fill, 144px);
            grid-row-gap: 55px;
            grid-column-gap: 7px;
            padding: 4.7rem 0;
        }
    }
}
